.footer-content {
  height: 380px;
  font-size: 0;
}

.footer-content__background {
  display: inline-block;
  width: 40%;
  height: 100%;
  background: url('../assets/footer.jpg') no-repeat center;
  background-size: cover;
}

.footer-content__information {
  box-sizing: border-box;
  display: inline-block;
  width: 60%;
  height: 100%;
  padding: 7% 0 0 5%;
  font-size: 14px;
  vertical-align: top;
}

.footer-content__column {
  display: inline-block;
  margin-right: 8%;
  width: 25%;
  vertical-align: top;
}

.footer-content__column:last-child {
  margin-right: 0;
}

.footer-content__column-heading {
  margin: 0;
  margin-bottom: 25%;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.006em;
}

.footer-content__column-text {
  color: var(--half-blue);
  line-height: 1.75;
}

.footer-content__column-link {
  color: var(--link-blue);
  text-decoration: none;
}

.footer-copyright {
  height: 78px;
  padding: 1px 0;
  padding-left: 12.5%;
  color: var(--text-white);
  line-height: 78px;
  background-color: var(--aqua);
}

.footer-copyright__text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}

.footer-copyright__symbol {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

