.header {
  background-image: url('../assets/header-background.png');
  background-size: 79% 100%;
  background-repeat: no-repeat;
}

.header__container {
  position: relative;
  width: 75%;
  margin: 0 auto;
  padding-top: 27px;
  text-align: center;
  z-index: 2;
}

.brandname {
  margin: 0;
  color: var(--aqua);
  font-weight: bold;
  letter-spacing: -0.035em;
  cursor: default;
}

.header__brandname {
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu {
  display: inline-block;
}

.menu__link {
  margin-right: 0.65em;
  padding: 0 6px 9px 6px;
  color: var(--main-blue);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.menu__link:last-child {
  margin-right: 0;
}

.menu__link:hover {
  border-bottom: 1px solid var(--main-blue);
  font-weight: bold;
}

.button {
  width: 150px;
  height: 50px;
  color: var(--text-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  text-transform: uppercase;
  border: 0;
  border-radius: 50px;
  background-color: var(--aqua);
}
/* Нужно ли в данном случае выносить стилевые свойства в класс модификатора? */

.header__button {
  position: absolute;
  bottom: -42.5%;
  right: -50px;
}

.header__button:hover {
  cursor: pointer;
  color: #edfdff;
  background-image: linear-gradient(150deg, var(--aqua), #62d6ef);
}