@import url('animations.css');

.contents__pic {
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  z-index: 1;
}

/* Раздел 'Home' - Первая секция */

.home-header {
  background-image: url('../assets/header-background.png');
  background-size: 79% 100%;
  background-repeat: no-repeat;
}

.home-header__container {
  width: 75%;
  margin: 0 auto;
  padding-top: 7.5%;
  padding-bottom: 5%;
}

.home-header__brandname {
  padding-top: 55px;
}

.home-header__title {
  width: 484px;
  line-height: 1.1;
  letter-spacing: -0.035em;
}

.home-header__text {
  width: 469px;
  margin: 60px 0;
  line-height: 1.75;
}

.link {
  display: inline-block;
  width: 150px;
  height: 50px;
  color: #fab63e;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.home-header__link {
  margin-right: 34px;
}

.home-header__link:first-of-type {
  position: relative;
  left: 188px;
}

.home-header__link:last-of-type {
  position: relative;
  right: 188px;
  color: #fff;
  font-weight: 500;
  background-color: #fab63e;
}

.link:hover {
  color: #f4f9e2;
  font-weight: 500;
  background-image: linear-gradient(150deg, #fab63e, #fbbc3e);
}

.link:hover + .link:last-of-type {
  color: #fab63e;
  font-weight: bold;
  background-color: transparent;
}

.link_text_narrowed:hover {
  letter-spacing: normal;
  text-align: center;
}

.link_theme_blue {
  color: var(--aqua);
}

.link_theme_blue:hover {
  color: #fff;
  font-weight: 500;
  background-image: linear-gradient(150deg, var(--aqua), #62d6ef);
}

/* Раздел 'Home' - Вторая секция */

.home-content {
  height: 600px;
  color: var(--text-white);
  font-size: 0;
  background-color: var(--aqua);
}

.home-content__container {
  box-sizing: border-box;
  display: inline-block;
  width: 65%;
  height: 100%;
  padding: 7.5% 12.8% 5%;
  vertical-align: top;
}

.home-content__background {
  display: inline-block;
  width: 35%;
  height: 100%;
  background: url('../assets/home-content.jpg') no-repeat;
  background-size: cover;
}

.home-content__title {
  font-size: 36px;
}

.home-content__text {
  margin-top: 15%;
  font-size: 20px;
  line-height: 1.5rem;
}

.home-content__text-sentence {
  font-size: 24px;
  font-weight: bold;
}

/* Раздел 'About' */

.about {
  padding: 10% 105px 4%;
}

.title {
  padding-top: 15px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.about__title {
  display: inline-block;
  margin-top: 0;
  margin-right: 225px;
  vertical-align: top;
}

.about__text {
  display: inline-block;
  width: 592px;
  margin: 0;
  padding-top: 5px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.005em;
}

/* Раздел 'Services' - Первая и вторая секции */

.services__title {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--half-blue);
  text-align: center;
}

.services__list {
  margin-bottom: 5rem;
}

.list {
  padding: 0;
  font-size: 0;
  list-style: none;
}

.list__category {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.list__category_size_s {
  width: 25%;
  height: 24.5vw;
}

.list__category_size_m {
  width: 33.3%;
  height: 32.7vw;
}

.list__category_size_m:nth-child(3n+2) {
  width: 33.4%;
}

.list__category-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 0 14.5%;
  text-decoration: none;
}

.list__category-hover-area {
  display: block;
  box-sizing: border-box;
  height: 50%;
  padding-top: 20%;
}

.list__category-animation {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
}

.list__category-hover-area:hover .list__category-animation {
  animation: spreading-border 0.6s;
}

.list__category-name {
  display: block;
  padding-top: 9%;
  color: var(--text-white);
  font-size: 32px;
  font-weight: 500;
  border-top: 1px solid #fff;
}

.list__category-name_border_transparent {
  border-top: transparent;
}

.list__category-text {
  display: inline-block;
  width: 85%;
  margin-left: 4%;
  vertical-align: text-top;
}

.list__category-name::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #e9b730;
  border-radius: 50%;
  vertical-align: middle;
}

.services__list .list__category-name::before {
  width: 9px;
  height: 9px;
  vertical-align: super;
}

/* Модификаторы */
.list__category_bg_pink {
  background-color: #ffe2de;
}

.list__category_bg_green {
  background-color: #c4e769;
}

.list__category_bg_aqua {
  background-color: var(--aqua);
}

.list__category_bg_blue {
  background-color: var(--bg-blue);
}

.list__category_bg_main-blue {
  background-color: var(--main-blue);
}

.list__category_bg_gray {
  background-color: #dee1ff;
}

.list__category_bg_violet {
  background-color: #8f00ff;
}

/* Общее правило для анимации блоков */
li[class*="bgr"]:hover {
  animation: increasing-background 2s;
  background-size: 110%;
}

/* Блок 'Physical Health' */
.list__category_bgr_physical-health:hover {
  background: url('../assets/bgr-physical-health.jpg') center;
}

/* Блок 'Mental Health' */
.list__category_bgr_mental-health:hover {
  background: url('../assets/bgr-mental-health.jpg') center;
}

/* Блок 'Nutrition' */
.list__category_bg_nutrition:hover {
  background: url('../assets/bgr-nutrition.jpg') center;
}

.list__category-rotation {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.list__category_bg_nutrition:hover .list__category-rotation {
  background: url('../assets/bgr-nutrition.jpg') center;
  animation: rotating-background 2s;
  background-size: 108%;
}

/* Блок 'Gymnastics' */
.list__category_bgr_gym:hover {
  background: url('../assets/bgr-gym.jpg') center;
}

/* Блок 'Crossfit' */
.list__category_bgr_crossfit:hover {
  background: url('../assets/bgr-crossfit.jpg') center;
}

/* Блок 'Aerobics' */
.list__category_bgr_aerobics:hover {
  background: url('../assets/bgr-aerobics.jpg') center;
}


/* Раздел 'Services' - Третья секция */

.services__definitions {
  margin-top: 1rem;
  margin-bottom: 40px;
}

.definitions {
  font-size: 0;
}

.definitions__block {
  display: inline-block;
  width: 33.3%;
  height: 240px;
  vertical-align: middle;
}

.definitions__block:nth-child(3n+2) {
  width: 33.4%;
}

.definitions__inner {
  padding: 11.5% 16% 7.7% 22%;
}

.definitions__heading {
  margin: 0;
  margin-bottom: 1em;
  font-size: 28px;
  font-weight: 500;
}

.definitions__text {
  margin: 0;
  color: var(--half-blue);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.03em;
}

/* Раздел 'Blog' */

.info {
  height: 800px;
  font-size: 0;
}

.info_bg_blue {
  color: var(--text-white);
  background-color: var(--main-blue);
}

.info__background {
  display: inline-block;
  width: 33.3%;
  height: 100%;
  background-size: cover;
}

.info__background_bg-image_1 {
  background: url('../assets/blog-stat.jpg') no-repeat;
}

.info__background_bg-image_2 {
  background: url('../assets/blog-promo.jpg') no-repeat;
}

.info__container {
  display: inline-block;
  box-sizing: border-box;
  width: 66.7%;
  height: 100%;
  padding: 6% 0 3%;
  vertical-align: top;
}

.info__container_padding_1 {
  padding-left: 7%;
}

.info__container_padding_2 {
  padding-left: 12.5%;
}

.info__title {
  margin: 0;
  font-weight: normal;
}

.info__text {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.info__text_block_1 {
  width: 82%;
  margin: 25.5% 0 17%;
  font-weight: bold;
}

.info__text_block_2 {
  width: 70%;
  margin-bottom: 9%;
  letter-spacing: -0.01em;
}

.info__text-word {
  color: var(--aqua);
}

.info__text-heading {
  margin: 27% 0 9%;
  font-weight: 500;
  font-size: 64px;
  letter-spacing: -0.01em;
}

.info__link {
  text-align: left;
}
